<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game - Leaderboard</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/list.css">
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <p>시즌 종료까지 <span class="season-remaining-time"></span></p>
      <h1>TOP 10</h1>
      <ul>
        <% if (top10.length) { %>
          <% for (let user of top10) { %>
          <li class="user">
            <span class="username <%= loggedUser?.username === user.username ? "me" : "" %>">
              <a href="/user?username=<%= user.username %>"><%= user.username %></a>
            </span>
            <span class="credit"><%= Math.round(user.totalCredits) %></span>
          </li>
          <% } %>
        <% } else { %>
        <span>없음</span>
        <% } %>
      </ul>
      <h1>지난 시즌 TOP 10</h1>
      <ul>
        <% if (lastSeasonTop10.length) { %>
          <% for (let user of lastSeasonTop10) { %>
          <li class="user">
            <span class="<%= loggedUser?.username === user.username ? "me" : "" %>">
              <a href="/user?username=<%= user.username %>"><%= user.username %></a>
            </span>
            <span class="credit"><%= Math.round(user.credits) %></span>
          </li>
          <% } %>
        <% } else { %>
        <span>없음</span>
        <% } %>
      </ul>
    </main>

    <script src="/numFormat.js"></script>
    <script>
      function calculateRemainingTime() {
        const current = new Date();
        const year = current.getFullYear();
        const month = current.getMonth() + 1;

        const nextSeasonYear = month === 12 ? year + 1 : year;
        const nextSeasonMonth = month === 12 ? 1 : month + 1;

        let remainingTime = new Date(nextSeasonYear, nextSeasonMonth - 1).getTime() + (7 * 60 * 60 * 1000) - Date.now();

        const days = Math.floor(remainingTime / (60 * 60 * 24 * 1000));
        remainingTime -= days * 60 * 60 * 24 * 1000;
        const hours = Math.floor(remainingTime / (60 * 60 * 1000));
        remainingTime -= hours * 60 * 60 * 1000;
        const minutes = Math.floor(remainingTime / (60 * 1000));

        return [days, hours, minutes];
      }

      function setRemainingTimeText() {
        const [days, hours, minutes] = calculateRemainingTime();

        if (days === 0) {
          if (hours === 0) {
            remainingTimeElement.innerText = `${minutes}분`;
          } else {
            remainingTimeElement.innerText = `${hours}시간 ${minutes}분`;
          }
        } else {
          remainingTimeElement.innerText = `${days}일 ${hours}시간 ${minutes}분`;
        }
      }

      const remainingTimeElement = document.querySelector(".season-remaining-time");

      setRemainingTimeText();
      setTimeout(setRemainingTimeText, 60 * 1000);

    </script>
  </body>
</html>
