<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game - Leaderboard</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/list.css">
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <h1>TOP 10 - Credits</h1>
      <ul>
        <% for (let user of top10) { %>
        <li class="user">
          <span class="username <%= loggedUser?.username === user.username ? "me" : "" %>">
            <a href="/user?username=<%= user.username %>"><%= user.username %></a>
          </span>
          <span class="credits"><%= Math.round(user.totalCredits) %>C</span>
        </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
