<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game - Stocks</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/list.css">
    <style>
      .diff:has(.fa-arrow-down) {
        color: rgb(150, 0, 0);
      }

      .diff:has(.fa-arrow-up) {
        color: rgb(0, 150, 0);
      }
    </style>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <h1>주식 목록</h1>
      <p>주식은 5분마다 업데이트됩니다.</p>
      <ul>
        <% for (let stock of stocks) { %> <% const diff = stock.currentPrice - stock.priceHistory[stock.priceHistory.length - 1];%>
        <li class="stock">
          <a class="name" href="/stock?stockId=<%= stock.id %>"><%= stock.name %></a>
          <span>
            <span class="credit"><%= stock.currentPrice %></span>
            &nbsp;
            <span class="diff">
              <i class="fa-solid <%= diff < 0 ? " fa-arrow-down" : "fa-arrow-up" %>"></i>
              <%= Math.abs(diff) || 0 %>
            </span>
          </span>
        </li>
        <% } %>
      </ul>
    </main>

    <script src="https://kit.fontawesome.com/e217a51301.js" crossorigin="anonymous"></script>
    <script src="/numFormat.js"></script>
  </body>
</html>
