<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jusik Game</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/list.css">
    <link rel="stylesheet" href="/graph.css">
    <style>
      .stock-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 90vw;
        gap: 20px;
      }

      .user-list {
        width: 100%;
        min-height: 500px;
        text-align: center;
        overflow: auto;
      }

      .user-list ul {
        margin: auto;
      }

    </style>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <h1><%= stock.name %></h1>
      <h2 class="credit"><%= stock.currentPrice %></h2>
      <div class="stock-info">
        <div class="graph">
          <canvas></canvas>
          <div class="point-value"></div>
        </div>
        <div class="user-list">
          <h1>주식 보유자 목록</h1>
          <% if (stock.users.length) { %>
          <% for (let user of stock.users) { %>
          <ul>
            <li>
              <span><%= user.username %></span>
              <span class="quantity"><%= user.quantity %></span>
            </li>
          </ul>
          <% } %>
          <% } else { %>
          <span>없음</span>
          <% } %>
        </div>
      </div>
      <% if (loggedUser) { %>
      <p>
        <button id="buy">구매</button>
        <button id="sell">판매</button>
      </p>
      <% } %>
    </main>

    <script src="/dialog.js"></script>
    <script>
      const buyButton = document.getElementById("buy");
      const sellButton = document.getElementById("sell");
      const inputDialog = new InputDialog();
      const messageDialog = new MessageDialog();
      const stockId = new URLSearchParams(location.search).get("stockId");

      async function buy(quantity) {
        if (!quantity) {
          return;
        } else if (!["all", "half"].includes(quantity.toLowerCase()) && isNaN(Number(quantity))) {
          messageDialog.setMessage("올바른 값을 입력해 주세요.");
          messageDialog.show();
          return;
        }

        const res = await fetch("/stock/buy", {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            quantity,
            stockId
          })
        });

        if (res.status !== 200) {
          const {
            message
          } = await res.json();
          messageDialog.setMessage(message);
          messageDialog.show();
          return;
        }

        location.reload();
      }

      async function sell(quantity) {
        if (!quantity) {
          return;
        } else if (!["all", "half"].includes(quantity.toLowerCase()) && isNaN(Number(quantity))) {
          messageDialog.setMessage("올바른 값을 입력해 주세요.");
          messageDialog.show();
          return;
        }

        const res = await fetch("/stock/sell", {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            quantity,
            stockId
          })
        });

        if (res.status !== 200) {
          const {
            message
          } = await res.json();
          messageDialog.setMessage(message);
          messageDialog.show();
          return;
        }

        location.reload();
      }

      buyButton?.addEventListener("click", () => {
        inputDialog.setMessage("몇 주를 구매하시겠습니까?");
        inputDialog.onClose(buy);
        inputDialog.show();
      });
      sellButton?.addEventListener("click", () => {
        inputDialog.setMessage("몇 주를 판매하시겠습니까?");
        inputDialog.onClose(sell);
        inputDialog.show();
      });

      const array = JSON.parse("[<%= stock.priceHistory %>]");
      array.push(Number("<%= stock.currentPrice %>"));

    </script>
    <script src="/numFormat.js"></script>
    <script src="/graph.js"></script>
    <script>
      function resizeList() {
        document.querySelector(".user-list").style.maxHeight = canvas.height + "px";
      }

      window.addEventListener("resize", resizeList);
      resizeList();

    </script>
  </body>
</html>
