<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game - User</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/graph.css">
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <% if (user.username === loggedUser) { %>
      <p>내 프로필</p>
      <% } %>
      <h1><%= user.username %></h1>
      <div class="graph">
        <canvas></canvas>
        <div class="point-value"></div>
      </div>
      <p>
        Credits: <%= Math.round(user.credits) %>C
        <br />
        Total Credits: <%= Math.round(user.totalCredits) %>C
      </p>
    </main>

    <script>
      let array = JSON.parse("[<%= user.creditHistory %>]");
      array.push(Number("<%= user.totalCredits %>"));
      array = array.map((credits) => Math.round(credits));

    </script>
    <script src="/graph.js"></script>
  </body>
</html>
